html,
body,
#app,
.appContainer,
.layoutContainer {
  height: 100%;
  margin: 0;
}

.layoutContainer {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.navBarContainer {
  flex: 0 1 auto;
}

main {
  flex: 1 1 auto;
}

.footerContainer {
  flex: 0 1 auto;
}
